#-------------------#
#-----WHITELIST-----#
#-------------------#

# Ignore all by default
*

# Include important files
!/.gitignore
!/.gitmodules
!/.stignore
!/.latexmkrc
!/flake.nix
!/flake.lock

# Include all archived files
!/archive
!/archive/**

# Include github actions, if provided
!/.github
!/.github/**

# Include all the tex files in the base directory
!/*.tex

# Include produced pdf files
!/production
!/production/*.pdf

# Include all bibliography files
!/reference
!/reference/*.bib

# Include all tex files in the different parts
!/parts
!/parts/*.tex

# Include all media files
!/media
!/media/**

# Include styles
!/styles
!/styles/*.cls
!/styles/*.sty
!/styles/*.tex

# Include text bodies
!/body
!/body/*.tex

# Include information bodies
!/info
!/info/*.tex

# Include all markdown files, independent of location
!/**.md

# LaTeX artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi
*.xdv
*.pdf

# Node
node_modules/
.pnpm-store/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.uv/

# Nix
result
result-*
.direnv/
